{% extends "base.html" %}

{% block title %}Изменение тега{% endblock %}

{% block content %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <div class="container card card-body mt-3">
        <h1>Изменение тега</h1>
        <form method="POST">
            <div class="mb-3">
                <label for="tag_name" class="form-label">Название</label>
                <input class="form-control" type="text" id="tag_name" name="tag_name" value="{{ tag['tag_name'] }}" required>
            </div>
            <div class="mb-3">
                <label for="tag_color" class="form-label">Цвет</label>
                <input class="form-control form-control-color" type="color" id="tag_color" name="tag_color" value="{{ tag['color'] }}" required>
            </div>
            <button type="submit" class="btn btn-success">Сохранить</button>
            <a href="{{ url_for('get_tags') }}" class="btn btn-secondary">Назад</a>
        </form>
    </div>
{% endblock %}