{% extends "base.html" %}

{% block title %}Мои посты{% endblock %}

{% block content %}
<body>
    <h1>Привет, {{ username }}! Вот твои посты:</h1>
    <a href="/create_post">Создать новый пост</a>

    {% if posts %}
        <ul>
            {% for post in posts %}
                <li>
                    <h2>{{ post['title'] }}</h2>
                    <p>{{ post['body'] }}</p>
                    <a class="btn btn-secondary" href="{{ url_for('edit_post', id=post['id']) }}">Редактировать</a>
                    <form action="{{ url_for('delete_post', id=post['id']) }}" method="POST" class="d-inline">
                        <button class="btn btn-danger" type="submit">Удалить</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>У вас пока нет постов.</p>
    {% endif %}

    <a href="/">Вернуться на главную</a>
</body>
{% endblock %}