<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создать</title>
</head>
<body>
    <form method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username() }}
        </p>
        <p>
            {{ form.display_name.label }}<br>
            {{ form.display_name() }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password() }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <a href="{{ url_for('user.list') }}">Назад</a>
</body>
</html>
