{% extends 'base.html' %}

{% block title %}Удалить{% endblock %}

{% block content %}
    <div class="container card card-body mx-auto mt-5 px-5 py-4" style="width: 500px;">
        <form method="post">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                <p>Вы действительно хотите удалить<br>
                    {{ user.display_name }} (@{{ user.username }})?</p>
            </div>
            <div class="d-flex justify-content-around mt-4">
                <a class="btn btn-secondary w-25" href="{{ url_for('user.list') }}">Назад</a>
                {{ form.submit(class="btn btn-danger w-25") }}
            </div>
        </form>
    </div>
{% endblock %}
