*[highlight-incorrect=true] {
    border: 1px solid red;
	height: 20px;
}

#frame_menu {
	background-color: #E0E0E0;
	border-radius: 20px;
}
#frame_menu QLineEdit, #frame_menu QPushButton {
	background-color: white;
	border-radius: 10px;
	padding: 10px;
	font-size: 14px;
}
#frame_menu QPushButton:hover {
	background-color: #D0D0D0;
}

#RoomListItem, #PlayerListItem, #ServerPlayerListItem {
    background-color: #E0E0E0;
    border-radius: 6px;
}
#RoomListItem:hover, #PlayerListItem:hover, #ServerPlayerListItem:hover {
    background-color: #D0D0D0;
}
#RoomListItem[selected=true], #PlayerListItem[selected=true], #ServerPlayerListItem[selected=true] {
    background-color: #96C8FF;
}

QProgressBar {
    border-radius: 4px;
}
QProgressBar::chunk {
    border-radius: 4px;
    background-color: #96C8FF;
}
