*[highlight-incorrect=true] {
    border: 1px solid red;
	height: 20px;
}

RoomListItem {
    background-color: #E0E0E0;
    border-radius: 6px;
}
RoomListItem:hover {
    background-color: #D0D0D0;
}
RoomListItem[selected=true] {
    background-color: #96C8FF;
}

PlayerListItem {
    background-color: #E0E0E0;
    border-radius: 6px;
}
PlayerListItem:hover {
    background-color: #D0D0D0;
}
PlayerListItem[selected=true] {
    background-color: #96C8FF;
}

#ProgressBar {
    border-radius: 4px;
}
#ProgressBar::chunk {
    border-radius: 4px;
    background-color: #96C8FF;
}
